.idea
.vscode

comnemts/*
!comnemts/index.php

edit/*
!edit/index.php

messages/*
!messages/index.php

msesages/*
!msesages/index.php

notifications/*
!notifications/index.php

status/*
!status/index.php

uploads/*
!uploads/def.png

users/*
!users/index.php

ctr.txt
msesages.txt
statursefs.txt
uesrs.txt